.presentation{
    display: flex;
    margin: 10px;
    padding: 20px;
}
.acceuil{
    padding: 30px;
    padding-top: 15px;
    margin-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 50px;
}
.presentation img{
    height: 350px;
    width: 710px;
}
.container{
    display: flex;
    flex-direction: row;
}
.article{
    padding: 20px;
}
.article img{
    width: 150px;
}
.img{
    padding-top: 15px;
    width: 40px;
}
.p{
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.p1{
    padding-top: 45px;
}
.p2{
    padding-top: 35px;
}
.propos{
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 50px;
}