/****************************Inscription*****************************/
body{
    background: url("../images/image01.png");
    background-size: cover;
}

/*body{
    background-color: rgb(7, 160, 201);*/
h1{
    color: white;
    margin-left: 120px;
    margin-top: 5px;
}
p{
    color: white;
    margin-left: 120px;
    margin-top: -15px;
}
#logo{
    float:right;
    width: 100px;
}

.container{
    width: 100%;
    height: 100%;
    margin:0px;
    
}
form{
    margin-top: 50px;
}

input{
    width: 200px;
    height: 24px;
    background-color: rgb(231, 230, 230);
    border: none;
    
}

#us{
    margin-top: -10px;
    float: left;
    margin-left: 300px;  
    width:470px;
}

#nm{
    margin-top: 35px;
    float: left;
    margin-left: -475px;  
}

#pre{
    margin-top: 20px;
    margin-right: 575px;
    float: right;
}

#mail{
    margin-top: 20px;
    margin-left: 300px;
    width:470px;
}
#ag{
    margin-top: 20px;
    float: left;
    margin-left: 300px;
    width:100px ;  
}

#niv{
    margin-top: -25px;
    float: right;
    margin-right: 575px;
    width:100px ;  
}

#gen{
    color: rgb(127, 127, 127);
    margin-top: 20px;
    margin-left: 90px;
    width:100px ;  
}
select{
      background-color: rgb(231, 230, 230);
      height: 25px;    
      border: 0;
      width:100px ; 
      outline-offset: -1px;
}
.gen{
     color: rgb(231, 230, 230);
}
.option{
    color: black;
}

#tel{
    margin-top: 30px;
    margin-left: -105px;
    width:200px ; 
    float: left; 
}

#add{
    margin-top: 30px;
    float: right;
    margin-right: 575px;
    width:200px ;  
}

#mdp{
    margin-top: 20px;
    margin-left: 300px;
    width:200px ; 
    float: left; 
    margin-bottom: 20px;  
}

#conf{
    margin-top: 20px;
    float: right;
    margin-right: 575px;
    width:200px ; 
    margin-bottom: 20px;  
}

#hr{
    width: 470px;
    float: right;
    margin-right: -200px;
    
}
button{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 300px;
    border-radius: 5px;
    border: 1px solid white;
    width:80px;
    height:30px;
    background-color: transparent;
    color:white;

}

.btn:hover{
    background-color: rgb(66, 238, 60);
}

